# Ignore node_modules folder
node_modules/

# Ignore .env file
.env

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debug logs
npm-debug.log*

# Ignore build/dist folders (if applicable)
dist/
build/